*{
  margin: 0;
}

.banner{
  
 background-image: url('images/banner/banner1.png');
    width: 1600px;
    height: 808px;
 }
.banner-header{
  padding-top: 200px;
  text-align: right;
  font-size: 65px;
  line-height: 76px;
  top: 216px;
  right: 230px;
  left: 845px;
  height: 228px;
  width: 525px;
}
.banner-description{
  width: 494px;
  height: 78px;
  line-height: 26px;
  text-align: right;
  size: 16px;
  right: 230px;
  
}

.button-primary{
  border-color: #F15B22;
  width: 160px;
  height: 64px;
  left: 230px;
  right: 1210px;
  top: 578px;
  border-radius: 5px;
  color: aliceblue;
  background-color: #F15B22;
  margin-bottom: 166px;
}

/* about section */
.about-me{
  display: flex;
}
.my-picture{
  margin-top: 130px;
}

.about-me-tittle{
  width: 288px;
  height: 94px;
  font-weight: 700px;
  font-size: 40px;
  margin-top: 370px;
  line-height: 47px;
  right: 322px;
  left: 862px;
  color: #151414;
  margin-top: 370px;

}

.about-me-description{
  padding-top: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  left: 862px;
  right: 322px;
  height: 104px;
}
.about-me-point{
Width: 349px;
Height: 162px;
Left: 862px;
right: 390px;
left: 862px;
top: 16px;

}
/* working plan */
.working-plan-box{
  display: flex;
  text-align: center;
  align-items: center;
  width: 1141px;
  height: 299.96px;
  
}

.working-plan{
  
  margin-top: 129px;
}

.plan-tittle{
  font-size: 40px;
  font-weight: 700px;
  line-height: 47px;
  margin-top: 130px;
  text-align: center;
}

/* gradient part */
.gradient-main{
  
  width: 1140px;
  height: 300px;
  top: 130px;
  left: 230px;
  background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
}

/* footer area */
.footer-main{
  margin-top: 200px;
  background-color: #151414;
  display: flex;
}
.footer-tittle{
  color: #F8F8F8;
  margin-top: 130px;
  margin-right: 665px;
  margin-left: 230px;
  font-weight: 147px;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

.footer-description{
  color: #FFFFFF;
  margin-top: 16px;
  margin-right: 665px;
  margin-left: 230px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.social-media{
  margin-left: 230px;
  margin-right: 1195;
  margin-top: 32px;

}

.footer-email-box{
  width: 325px;
  height: 64px;
  margin-top: 32px;
  margin-right: 229px;
}
.footer-tittle2{
  color: #F8F8F8;
  margin-top: 130px;
  margin-right: 430px;
  
}
.footer-btn{
  background-color: #F8F8F8;
  text-align: center;
  color: #F15B22;
  border-radius: 3px;

}

  